@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
}

ol {
   display: flex;
   width: 250px;
   justify-content: space-between;
   list-style-type: none;
   list-style-position: inside;
}

li {
   padding: 5px;
   align-self: flex-end;
   background-color: black;
   color: white;
   border-radius: 5px;
}

span#menuClosedIcon:hover {
   cursor: pointer;
}

ol li:hover {
   background-color: brown;
   cursor: pointer;
}

span#menuClosedIcon {
   display: block;
}

header, ol, span {
   margin: 5px 50px;
}

main {
   margin: 10px 30px;
}

main h2 {
   margin: 15px 0px;
}

main p {
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 15px;
}

footer {
   text-align: center;
   background-color: black;
   padding: 5px;
   color: white;
}