@charset "UTF-8";

:root {
   --cor01: rgb(173, 0, 0);
   --cor02: #fff;
   --cor03: #111;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

#menuOpen {
   user-select: none;
}

#menuClose {
   user-select: none;
}

header {
   display: block;
   background-color: black;
   width: 100%;
   text-align: center;
}

header > div {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--cor01);
   color: white;
}

ol#menu {
   display: none;
   justify-content: space-between;
   list-style-type: none;
   list-style-position: inside;
}

li {
   padding: 5px;
   align-self: flex-end;
   background-color: var(--cor01);
   color: var(--cor02);
   border-radius: 5px;
   margin: 0px 5px;
   font-weight: bold;
   font-family: 'Calibri', 'Arial', sans-serif;
   font-variant-caps: all-small-caps;
}

span#menuOpen:hover, span#menuClose:hover {
   cursor: pointer;
   background-color: var(--cor02);
   color: var(--cor01);
   border-radius: 20%;
}

ol li:hover {
   cursor: pointer;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   animation-duration: 500ms;
   animation-name: menuHover;
   animation-direction: alternate-reverse;
   animation-iteration-count: infinite;
}

@keyframes menuHover {
   0% {
      background-color: var(--cor01);
      color: var(--cor02);
   }
   100% {
      background-color: var(--cor02);
      color: var(--cor01);
   }
}

/* span#menuOpen {
   display: block;
}

span#menuClose {
   display: none;
} */

ol, span {
   margin: 5px 50px;
}

main {
   max-width: 500px;
   margin: 20px auto;
}

main h2 {
   margin: 15px 0px;
}

h1 {
   margin-top: 10px;
}

main p {
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 15px;
}

footer {
   text-align: center;
   background-color: transparent;
   padding: 5px;
   color: var(--cor03);
   position: fixed;
   bottom: 0px;
   width: 100%;
   backdrop-filter: blur(5px);
}